@import ../../styles/helpers

$med: 768px

.page
    overflow: hidden
    position: relative

    +m
        margin-top: 100px

.banner
    position: absolute
    top: 18px
    left: 1050px
    width: 50%
    display: flex
    justify-content: center
    align-items: center
    background: transparent
    padding: 0
    margin: 0
    z-index: 10
    pointer-events: none

.bannerImage
    width: 100%
    height: auto
    display: block
    object-fit: cover
    max-height: 200px
    pointer-events: none

.source 
    position: fixed
    width: 100%
    top: 0
    height: 36px
    z-index: 20
    color: $neutrals1
    text-align: center
    background: $neutrals6
    font-size: 14px
    padding: 5px 0

    +m
        padding: 38px 0
        height: 40px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        
    
.github
    color: $orange